.get_off{
    margin-top: 52px;
    margin-bottom: 52px;
}

.life_style{
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
}

.life_text{
    font-size: 36px;
    font-weight: 600;
    line-height: 43px;
}

.items{
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    opacity: 0.8;
}

.catalog_cont{
    display: flex;
    justify-content: space-between;
}

.filters{
    width: 315px;
}

.catalog{
    width: 986px;
    display: flex;
    flex-wrap: wrap;
}

.filt{
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    margin-bottom: 24px;
}

.refine{
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.refine p {
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    align-items: center
}

.mens_casual{
    display: flex;
    margin-bottom: 24px;
}

.mens_casual button {
    margin-right: 16px;
}

.size1{
    display: flex;
    gap: 16px;
    margin-bottom: 16px;
}

.size2{
    display: flex;
    gap: 16px;
    margin-bottom: 24px;
}

.type{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 24px;
}

.type input{
    width: 15px;
    height: 15px;
    border: 1px solid black;
}

.type label{
    margin-left: 16px;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
}

.line{
    border: 4px solid black;
    position: relative;
    border-radius: 313px;
    margin-bottom: 11px;
}

.purp_el{
    position: absolute;
    width: 12px;
    height: 12px;
    background: rgb(74, 105, 226);
    border-radius: 6px;
    left: 2px;
    top: -6px;
}

.money{
    display: flex;
    justify-content: space-between;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
    opacity: 0.8;
}



.card{
    width: 318px;
    margin-bottom: 38px;
    margin-right: 10px;
}

.card p{
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    margin-top: 28px;
    margin-bottom: 16px;
}